/* footer */

.page__footer {
    padding: 10px;
    display: flex;
    background-color: #fefae5;  
    justify-content: space-between;
    font-size: 20px;
}

.page__footer__social {
    display: flex;
    padding-top: 5px;
}

.page__footer__image {
    height: 100px;
    align-self: center;
}

.icon {
  height: 28px;
}

@media screen and (max-width: 900px) {
    .page__footer {
        font-size: 16px;
    } 
    .page__footer__image {
        height: 50px;
    }
}