<div id="footer" class="page__footer">
    <nav>
        Siguenos:
        <ul class="page__footer__social">
            <li>
                <a href="https://www.facebook.com/trabajodeduendes2/" title="Facebook">
                    <img class="icon" src="./assets/images/facebookLogo.png">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/trabajodeduendes/?hl=en" title="Instagram">
                    <img class="icon" src="./assets/images/instagramLogo.png">
                </a>
            </li>
        </ul>
    </nav>
    <img class="page__footer__image" src="./assets/images/trabajoDeDuendesLogo.png">
</div>