<nav class="page__menu">
    <ul class="page__menu__content">
        <li class="page__menu__content__items">
            <a href="../quienesSomos.html" title="Quienes Somos">Quienes Somos</a>
        </li>
        <li class="page__menu__content__items">
            <a href="../areasDeActuacion.html" title="Áreas de actuación">Áreas de actuación</a>
        </li>
        <li class="page__menu__content__items">
            <a href="../contacto.html" title="Contacto">Contacto</a>
        </li>
    </ul>
</nav>