.page__footer {
    padding: 10px;
    display: flex;
    background-color: #fefae5;  
    justify-content: space-between;

    &__social {
        display: flex;
        padding-top: 5px;
        
    }

    &__image {
        height: 100px;
        align-self: center;
    }
}

// Ejemplo de CSS vs SASS

// .page__footer {
//     padding: 10px;
//     display: flex;
//     background-color: #fefae5;  
//     justify-content: space-between;
// }

// .page__footer__social {
//     display: flex;
//     padding-top: 5px;
// }

// .page__footer__image {
//     height: 100px;
//     align-self: center;
// }


.icon {
    height: 28px;
}
  