  .Enunciado1 {
    text-align: center;
    color:#B8860B;
    font-family:Comic Sans;
    
  }
  
  .Enunciado2 {
    text-align: center;
    color:#B8860B;
    font-family:Comic Sans;
  }
  
  .carrusel {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .carrusel ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 1030px;
    /* max-width: 510px; */
    scroll-behavior: smooth;
  }
  
  .carrusel-fotos {
    display: flex;
    gap: 10px;
    overflow: auto;
  }
  
  .carrusel-fotos img {
    background: black;
    border: 4px solid black;
    width: 500px;
    height: 300px;
    object-fit: contain;
  }
  
  .carrusel-menu {
    display: none;/* Header */
    .page__header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fefae5;    
      }
      
      .page__header__image {
        height: 215px;
        padding: 10px;
      }
      
     body {
        background-color: #fefae5;
        
    }
  }
  
  @media screen and (min-width: 500px) {
    .carrusel-fotos {
      overflow: hidden;
    }
  
    .carrusel-fotos img {
      width: 500px;
      height: 300px;
    }
    .carrusel-menu {
      display: block;
    }
    .carrusel-menu img {
      box-sizing: border-box;
      width: 50px;
      height: 40px;
      border: 10px solid black;
    }
    .carrusel-menu img:hover {
      border: none;
    }
  }

  @media only screen and (min-width:320px) and (max-width:480px) {
    .carrusel-fotos {
      overflow: hidden;
    }
  
    .carrusel-fotos img {
      width: 480px;
      height: 300px;
    }
    .carrusel-menu {
      display: block;
    }
    .carrusel-menu img {
      box-sizing: border-box;
      width: 50px;
      height: 40px;
      border: 10px solid black;
    }
    .carrusel-menu img:hover {
      border: none;
    }
  }
  
  @media only screen and (min-device-width: 641px) and (max-device-width: 900px){
    .carrusel-fotos {
      overflow: hidden;
    }
  
    .carrusel-fotos img {
      width: 370px;
      height: 280px;
    }
    .carrusel-menu {
      display: block;
    }
    .carrusel-menu img {
      box-sizing: border-box;
      width: 50px;
      height: 40px;
      border: 10px solid black;
    }
    .carrusel-menu img:hover {
      border: none;
    }
  }
  /* footer */
  
  .page__footer {
      padding: 10px;
      display: flex;
      background-color: #fefae5;  
      justify-content: space-between;
  }
  
  .page__footer__social {
      display: flex;
      padding-top: 5px;
  }
  
  .page__footer__image {
      height: 100px;
      align-self: center;
  }
  
  .icon {
    height: 28px;
  }
  
  /* Header */
  .page__header {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fefae5;    
    }
    
    .page__header__image {
      height: 215px;
      padding: 10px;
    }
    
   .cuerpo {
      background-color: #fefae5;
      
   }
  
  