.cuerpo {
    background-color: antiquewhite;
}


.main {
    font-family: Comic Sans;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    color: black;
    text-shadow: grey 1px 1px 2px;
    margin: 2%;
}

.intro {
    font-family: Comic Sans;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    color: black;
    text-shadow: grey 1px 1px 2px;
    margin: 2%;
}

.persona {
    background-color: rgb(239, 240, 188);
    font-family: Comic Sans;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    color: black;
    text-shadow: grey 1px 1px 2px;
    margin: 2%;
    margin-left: 20%;
    float: left;
    width: 900px;
    height: 100px;
    padding-top: 10px;
}

.explicacion {
    font-family: Comic Sans;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    color: black;
    width: 600px;
    height: 200px;
    text-shadow: grey 1px 1px 2px;
    margin: 2%;
    float: left;
}

.quienfoto {
    border-radius: 10px;
    background-color: gray;
    width: 500px;
    height: 300px;
    float: left;
    transition: transform 0.3s ease-in-out;
}

#star {
    border-radius: 10px;
}

#duendeZ {
    border-radius: 10px;
}

#duendeB {
    border-radius: 10px;
}

#mushu {
    border-radius: 10px;
}

figure img:hover {
    transform: scale(1.1);
}

.page__footer {
    float: left;
    width: auto;
    margin: auto;

}

@media (max-width: 320px) and (orientation:portrait) {
    img {
        size: 200px 200px;
    }

    .persona {
        font-size: large;
    }
}

@media (max-width: 481px) and (orientation:landscape) {
    img {
        size: 300px 300px;
    }
}

@media (max-width: 641px) and (orientation:portrait) {
    img {
        size: 400px 400px;
    }

    .persona {
        font-size: xx-large;
    }
}

@media (max-width: 900px) and (orientation:landscape) {
    img {
        size: 550px 550px;
    }
}

@media (min-width: 900px) and (max-width: 1300px) {
    img {
        size: 690px 690x;
    }

    .persona {
        font-size: xx-large;
    }
}

@media (min-width: 1300px) {
    img {
        size: 850px 850x;
    }

    .persona {
        font-size: xx-large;
    }
}